<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie Watchlist</title>
    <link rel="stylesheet" href="/styles/main.css">
</head>

<body>
    <div class="wrapper">
        <section class="navigation-drawer">
            <div class="brand-name center">Watchlists</div>
            <form action="/" method="GET" class="search-bar">
                <div class="search__area">
                    <span class="search__icon"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                            <path
                                d="M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352a144 144 0 1 0 0-288 144 144 0 1 0 0 288z" />
                        </svg></span>
                    <input class="input input--trailing" type="text" placeholder="Search" autocomplete="off">
                </div>
            </form>
            <nav class="navigation">
                <ul class="sidebar__list">
                    <li class="sidebar__item sidebar__item--active">
                        <a href="/" class="sidebar__link">
                            <span class="sidebar__icon"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
                                    <path
                                        d="M575.8 255.5c0 18-15 32.1-32 32.1l-32 0 .7 160.2c0 2.7-.2 5.4-.5 8.1l0 16.2c0 22.1-17.9 40-40 40l-16 0c-1.1 0-2.2 0-3.3-.1c-1.4 .1-2.8 .1-4.2 .1L416 512l-24 0c-22.1 0-40-17.9-40-40l0-24 0-64c0-17.7-14.3-32-32-32l-64 0c-17.7 0-32 14.3-32 32l0 64 0 24c0 22.1-17.9 40-40 40l-24 0-31.9 0c-1.5 0-3-.1-4.5-.2c-1.2 .1-2.4 .2-3.6 .2l-16 0c-22.1 0-40-17.9-40-40l0-112c0-.9 0-1.9 .1-2.8l0-69.7-32 0c-18 0-32-14-32-32.1c0-9 3-17 10-24L266.4 8c7-7 15-8 22-8s15 2 21 7L564.8 231.5c8 7 12 15 11 24z" />
                                </svg></span>
                            <span class="sidebar__text">Home</span>
                        </a>
                    </li>
                    <li class="sidebar__item">
                        <a href="#" class="sidebar__link">
                            <span class="sidebar__icon"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                    <path
                                        d="M75 75L41 41C25.9 25.9 0 36.6 0 57.9L0 168c0 13.3 10.7 24 24 24l110.1 0c21.4 0 32.1-25.9 17-41l-30.8-30.8C155 85.5 203 64 256 64c106 0 192 86 192 192s-86 192-192 192c-40.8 0-78.6-12.7-109.7-34.4c-14.5-10.1-34.4-6.6-44.6 7.9s-6.6 34.4 7.9 44.6C151.2 495 201.7 512 256 512c141.4 0 256-114.6 256-256S397.4 0 256 0C185.3 0 121.3 28.7 75 75zm181 53c-13.3 0-24 10.7-24 24l0 104c0 6.4 2.5 12.5 7 17l72 72c9.4 9.4 24.6 9.4 33.9 0s9.4-24.6 0-33.9l-65-65 0-94.1c0-13.3-10.7-24-24-24z" />
                                </svg></span>
                            <span class="sidebar__text">History</span>
                        </a>
                    </li>
                </ul>
            </nav>
            <a href="/new-watchlist" class="btn">
                <span class="btn__icon"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                        <path
                            d="M256 80c0-17.7-14.3-32-32-32s-32 14.3-32 32l0 144L48 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l144 0 0 144c0 17.7 14.3 32 32 32s32-14.3 32-32l0-144 144 0c17.7 0 32-14.3 32-32s-14.3-32-32-32l-144 0 0-144z" />
                    </svg></span>
                <span class="btn__text">Create Watchlist</span>
            </a>
            <div class="divider"></div>
            <section class="watchlist">
                <span class="sidebar__subtitle">My Lists</span>
                <ul class="sidebar__list">
                    <% if (watchlists && watchlists.length> 0) { %>
                        <% for (const watchlist of watchlists) { %>
                            <li class="sidebar__item">
                                <a href="/watchlist/<%= watchlist.id %>" class="sidebar__link"><img
                                        src="./assets/icons/watchlist_avatar.svg" alt="avatar" class="sidebar__img">
                                    <span class="sidebar__text">
                                        <%= watchlist.name %>
                                    </span>
                                </a>
                            </li>
                            <% } %>
                                <% } %>
                </ul>
            </section>
        </section>